h1{
    font-size: 48px;
    font-weight: bold;
    color: whitesmoke;
    text-shadow: 3px 1px black;
}

header{
    display:inline-flex;
    width:100%;
  }

.logo {
    width: 80px;
    margin: 20px;
}
.space{
    min-height: 75px;
}
.login-icon{
    width: 30px;
}

nav{
    height: fit-content;
}
nav ul {
    min-width: 800px;
    list-style-type: none;
    margin: auto;
    padding: 5px;
    background-color: whitesmoke;
    display: flex;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px  black;
}

nav ul li {
    min-width: 120px;
    display: inline-flex;
    padding: 20px;
    margin:5px;
    background-color: #009688;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px  black;
}

nav ul a {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    font-weight: bold; 
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 2px 1px black;
}

nav ul li:hover {
    background-color: #428a80;    
}

footer {
    position: fixed;
    bottom: 0;
    background-color: whitesmoke;
    width: 90%;
    max-width: 1024px;
    height: 60px;
    font-size: 15px;
    display:flex;
    margin:auto;
    border-radius: 20px 0;
}

footer p{
font-size: 15px;
}

.footer-inline {
    display: inline-block;
    width: 48%;
    padding-left: 1%;
}

.header-space{
    min-width: 60%;
}

.login-btn{
    display: flex;
    height: fit-content;
    margin-top: 50px;
}
