{% extends "layout.html" %}
{% block body %}
<link href="../static/styles/home.css" rel="stylesheet" type="text/css">
<script src="scripts/home.js"></script>
<body>
    <section>
        <h3>Kim jesteśmy?</h3>
        <div class="card">
            <p>Portalem na którym możesz publikować notatki!</p>
        </div>
    </section>
    <section>
        <h3>Nasze usługi</h3>
        <div class="card">
            <p>Oferujemy:
                <ul>
                    <li>Bezpieczeństwo twoich danych!</li>
                    <li>Wybór osób z którymi chcesz dzialić się notatkami!</li>
                    <li>Możliwość twrzenia publicznych notatek!</li>
                    <li>Niewygodny  interfejs!</li>
                    <li>Wolny serwer!</li>
                    <li>I wiele więcej!</li>
                </ul>
            </p>
        </div>
    </section>
    <section>
        <h3>Oferta wsparcia</h3>
        <div class="card">
            <p>Jeśli chesz nas wesprzec wykup abonamet!  </p>

        </div>
        <table>
            <thead>
                <tr>
                    <td>Pakiet</td>
                    <td>Cena</td>
                    <td>Profity</td>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>Platynowy</td>
                    <td>999,99</td>
                    <td>2500 promocji</td>
                </tr>
                <tr>
                    <td>Złoty</td>
                    <td>499,99</td>
                    <td>1000 promocji</td>
                </tr>
                <tr>
                    <td>Srebrny</td>
                    <td>399,99</td>
                    <td>500 promocji</td>
                </tr>
                <tr>
                    <td>Brązowy</td>
                    <td>109,99</td>
                    <td>100 promocji</td>
                </tr>
                <tr>
                    <td>Pojedynczy</td>
                    <td>15,99</td>
                    <td>10 promocji</td>
                </tr>
            </tbody>
        </table>
    </section>
</body>

{% endblock %}